/* ================================
    CSS STYLES FOR DotNetNuke
   ================================
*/   


/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBg {
}

/* background color for the content part of the pages */
Body
{
}

.ControlPanel {
}

/* background/border colors for the selected tab */
.TabBg {
}

.LeftPane  { 
}

.ContentPane  { 
}

.RightPane  { 
}

/* text style for the selected tab */
.SelectedTab {
}

/* hyperlink style for the selected tab */
A.SelectedTab:link {
}

A.SelectedTab:visited  {
}

A.SelectedTab:hover    {
}

A.SelectedTab:active   {
}

/* text style for the unselected tabs */
.OtherTabs {
}
    
/* hyperlink style for the unselected tabs */
A.OtherTabs:link {
}

A.OtherTabs:visited  {
}

A.OtherTabs:hover    {
}

A.OtherTabs:active   {
}

/* GENERAL */
/* style for module titles */
.Head   {
}

/* style of item titles on edit and admin pages */
.SubHead    {
}

/* module title style used instead of Head for compact rendering by QuickLinks and Signin modules */
.SubSubHead {
}

/* text style used for most text rendered by modules */
.Normal
{
}

/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
     background:#FFFFCC;
}

.NormalRed
{
}

.NormalBold
{
}

/* text style for buttons and link buttons used in the portal admin pages */
.CommandButton     {
     Color: #0173BC;
}
    
/* hyperlink style for buttons and link buttons used in the portal admin pages */
A.CommandButton:link {
     Color: #0173BC;
}

A.CommandButton:visited  {
     Color: #0173BC;
}

A.CommandButton:hover    {
     Color: #0173BC;
}
    
A.CommandButton:active   {
     Color: #0173BC;
}

/* GENERIC */
H1  {
font-family: "arial", sans-serif;
}

H2  {
font-family: "arial", sans-serif;
}

H3  {
}

H4  {
}

H5, DT  {
}

H6  {
}

TFOOT, THEAD    {
}

TH  {
}

A:link  {
}

A:visited   {
}

A:hover {
}

A:active    {
}

SMALL   {
}

BIG {
}

BLOCKQUOTE, PRE {
}


UL LI   {
	list-style-type: disc;
  	font-size: 12px;
  	font-weight: normal;
  	font-family: "arial", sans-serif;
  	color: #000000;
  	margin: 1em 0px 0px 0px;
}

UL LI LI    {
	list-style-type: disc;
  	font-size: 12px;
  	font-weight: normal;
  	font-family: "arial", sans-serif;
  	color: #000000;
  	margin: 1em 0px 0px 0px;
}

UL LI LI LI {
}

OL LI   {
	font-size: 12px;
  	font-weight: normal;
  	font-family: "arial", sans-serif;
  	color: #000000;
  	margin: 1em 0px 0px 0px;
}

OL OL LI    {
	list-style-type: lower-alpha;
}

OL OL OL LI {
	list-style-type: lower-roman;
}
OL UL LI   {
}

HR {
}

/* MODULE-SPECIFIC */
/* text style for reading messages in Discussion */    
.Message    {
}   

/* style of item titles by Announcements and events */
.ItemTitle    {
}

/* Menu-Styles */
/* Module Title Menu */
.ModuleTitle_MenuContainer {
}

.ModuleTitle_MenuBar {
}

.ModuleTitle_MenuItem {
}

.ModuleTitle_MenuIcon {
}

.ModuleTitle_SubMenu {
}

.ModuleTitle_MenuBreak {
}

.ModuleTitle_MenuItemSel {
}

.ModuleTitle_MenuArrow {
}

.ModuleTitle_RootMenuArrow {
}

/* Main Menu */

.MainMenu_MenuContainer {
}

.MainMenu_MenuBar {
}

.MainMenu_MenuItem {
}

.MainMenu_MenuIcon {
}

.MainMenu_SubMenu {
}

.MainMenu_MenuBreak {
}

.MainMenu_MenuItemSel {
}

.MainMenu_MenuArrow {
}

.MainMenu_RootMenuArrow {
}

/* Login Styles */
.LoginPanel{
}

.LoginTabGroup{
}

.LoginTab {
}

.LoginTabSelected{
}

.LoginTabHover{
}

.LoginContainerGroup{
}

.LoginContainer{
}
.StandardButton {
    height: 28px;
    cursor: pointer;
    border-right: #CCCCCC 1px solid;
    border-top: #CCCCCC 1px solid;
    font-weight: bold;
    font-size: 1em;
    border-left: #CCCCCC 1px solid;
    color: white;
    border-bottom: #CCCCCC 1px solid;
    background-color: #FF9900;
    width: 80px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: rgb(255,175,75); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
}
.StandardButtonDisabled {
    height: 28px;
    cursor: pointer;
    border-right: #CCCCCC 1px solid;
    border-top: #CCCCCC 1px solid;
    font-weight: bold;
    font-size: 1em;
    border-left: #CCCCCC 1px solid;
    color: #CCC;
    border-bottom: #CCCCCC 1px solid;
    background-color: #CCCCCC;
    width: 80px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 4px;
    margin-bottom: 4px;background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
    
}
.StandardButtonGray
{
    height: 28px;
	cursor: pointer;
	border-right: #CCCCCC 1px solid;
	border-top: #CCCCCC 1px solid;
	font-weight: bold;
	font-size: 1em;
	border-left: #CCCCCC 1px solid;
	color: white;
	border-bottom: #CCCCCC 1px solid;
	width: 80px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
	background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
	
}
INPUT.Normal {
    cursor: pointer;
    border-right: #CCCCCC 1px solid;
    border-top: #CCCCCC 1px solid;
    font-weight: bold;
    font-size: 1em;
    border-left: #CCCCCC 1px solid;
    color: white;
    border-bottom: #CCCCCC 1px solid;
    background-color: #FF9900;
    width: 80px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-image: url(../../Portals/0/button-shade.gif);
    background-repeat: repeat-x;
}
.LightGray
{
background:#DFE7DF;
color:#F1F1F1;
}
.MyCalendar .ajax__calendar_container
{
	border: 1px solid #F1F1F1;
	background-color: white;
	color: black;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day {
    color:#646464;
} 
.MyCalendar .ajax__calendar_day
{
	color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day {
    font-weight: bold;
    color: black;
} 
.MyCalendar .ajax__calendar_active .ajax__calendar_month {
    font-weight: bold;
    color: black;
} 
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    font-weight: bold;
    color: black;
} 
.Drag
{
	cursor: move;
	margin:0 5px 0 -25px; 
	padding:0;
	list-style-image:url(https://www.campingroadtrip.com/spacer.gif);
}
.Drag li
{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	list-style: none;
	list-style-image: none;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	cursor: move;
	padding-top: 4px;
	text-indent: 0px;
	list-style-image:url(https://www.campingroadtrip.com/spacer.gif);
}
#tbcontainer
	{
		background: #fff;
	}
#tabnav
	{
		height: 20px;
		margin: 0;
		padding-left: 10px;
		cursor: default;
		background: url(https://www.campingroadtrip.com/DesktopModules/CRT_Campground_Search/Images/tab_bottom.gif) repeat-x bottom;
		color: #696969;
	}
#tabnav li
	{
		margin: 0;
		padding: 0;
  		display: inline;
  		list-style-type: none;
		cursor: default;
  	}
	
#tabnav a:link, #tabnav a:visited
{
	float: left;
	background: #f3f3f3;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #696969;
}

#tabnav a:link.active, #tabnav a:visited.active
	{
		border-bottom: 1px solid #fff;
		background: #fff;
		color: #696969;
	}

#tabnav a:hover
	{
		background: #fff;
	}
.list
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-family: arial;
	background-color: #ffffff;
	z-index: 1001;
}
ul.list li
{
	padding: 2px 5px;
}
.listitem
{
	
	color: #000000;
}
.hoverlistitem
{
	background-color: #0173BC;
	color: white;
}
.list2
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-size: 11px;
	font-family: arial;
	text-align: left;
	z-index: 1001;
}
ul.list2 li
{
	padding: 2px 5px;
}
.listitem2 
{
	cursor:default;
}
.hoverlistitem2
{
	cursor: default;
	background-color: #0173BC;
	color: white;
}
.mytable
{
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	vertical-align: top;
}
.mytablenoborder
{
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	vertical-align: top;
}
.mytablesinglecolumn
{
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	vertical-align: top;
}
.mytr
{
}
.mytdheader
{
	border-left: 1px solid white;
	padding: .3em 1em;
	background: #a7a7a7;
	color: white;    
}
.mytdheader2
{
	padding: .3em 1em;
	background: #0173BC;	
	color: white;    
	background-image: url(https://www.campingroadtrip.com/DesktopModules/CRT_Campground_Search/Images/tablebackground2.jpg);
    background-repeat: repeat-x;
}
.mytdheadercentered
{
	padding: .3em 1em;
	background: #0173BC;
	color: white;
	text-align: center;
	vertical-align: top;
	background-image: url(https://www.campingroadtrip.com/DesktopModules/CRT_Campground_Search/Images/tablebackground.jpg);
    background-repeat: repeat-x;
}
.mytdheadercenteredgray
{
	padding: .3em 1em;
	background: #F1F1F1;
	text-align: center;
	vertical-align: top;
}
.mytdheadercenteredcyan
{
	padding: .3em 1em;
	background: #e6e6e6;
	text-align: center;
	vertical-align: top;
}
.mytralt
{
	background: #e0e7ec;
}
.mytdempty
{

        background: #a7a7a7;
}
.mytdspacer
{
	background: white;
}
.mytd
{
    border-left: 1px solid white;
	padding: .3em 1em;
	text-align: left;
	vertical-align: top;
}
.mytdfull
{
	padding: .3em 1em;
	text-align: left;
	vertical-align: top;
}
.mytdbold
{
	padding: .3em 1em;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
}
.mytdboldfull
{
	padding: .3em 1em;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
}
.highslide-html {
    background-color: white;
}
.highslide-html-blur {
}
.highslide-html-content {
	position: absolute;
    display: none;
}
.highslide-loading {
    display: block;
	color: black;
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: bold;
    text-decoration: none;
	padding: 2px;
	border: 1px solid black;
    background-color: white;
    
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 3px 1px;
}
a.highslide-credits,
a.highslide-credits i {
    padding: 2px;
    color: silver;
    text-decoration: none;
	font-size: 10px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
    color: white;
    background-color: gray;
}

/* Styles for the popup */
.highslide-wrapper {
	background-color: white;
}
.highslide-wrapper .highslide-html-content 
{
    padding-right: 10px;
    padding-left: 10px;
}
.highslide-wrapper .highslide-header div {
}
.highslide-wrapper .highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.highslide-wrapper .highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-wrapper .highslide-header ul li.highslide-previous, .highslide-wrapper .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-wrapper .highslide-header a {
	font-weight: bold;
	color: gray;
	text-decoration: none;
}
.highslide-wrapper .highslide-header a:hover {
	color: black;
}
.highslide-wrapper .highslide-header .highslide-move a {
	cursor: move;
}
.highslide-wrapper .highslide-footer {
	height: 11px;
}
.highslide-wrapper .highslide-footer .highslide-resize {
    display: none;
	float: right;
	height: 11px;
	width: 11px;
	background: url(https://www.campingroadtrip.com/DesktopModules/CRT_Campground_Search/highslide/graphics/resize.gif);
}
.highslide-wrapper .highslide-body {
}
.highslide-move {
    cursor: move;
}
.highslide-resize {
    cursor: nw-resize;
}

.highslide-display-none .highslide-move {
    display: none;
}

/* These must be the last of the Highslide rules */
.highslide-display-block {
    display: block;
}
.highslide-display-none {
    display: none;
}
.highslide-dimming {
	position: absolute;
	background: black;
}

/* Individual CSS-classes: drag-header */
.drag-header .highslide-header div {
}
.drag-header .highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.drag-header .highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.drag-header .highslide-header ul li.highslide-previous, .drag-header .highslide-header ul li.highslide-next {
	display: none;
}
.drag-header .highslide-header a {
	font-weight: bold;
	color: gray;
	text-decoration: none;
}
.drag-header .highslide-header a:hover {
	color: black;
}

.drag-header .highslide-header .highslide-move a {
	cursor: move;
}
.drag-header .highslide-move {
	cursor: move;
	margin-right: -35px;
}
.drag-header .highslide-close {
	display: none;
	visibility: hidden;
}
.drag-header .highslide-move span {
	display: none;
}
.drag-header .highslide-footer {
	display: none;
}

.ratingStar {
    font-size: 0pt;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar {
    background-image: url(https://www.campingroadtrip.com/DesktopModules/CRT_Campground_Search/Images/FilledStar.png);

}

.emptyRatingStar {
    background-image: url(https://www.campingroadtrip.com/DesktopModules/CRT_Campground_Search/Images/EmptyStar.png);
}

.savedRatingStar {
    background-image: url(https://www.campingroadtrip.com/DesktopModules/CRT_Campground_Search/Images/SavedStar.png);
}
.blog_Description_Heavy
{
font-family: arial, sans-serif; font-size: 12px; color: #000000;
font-weight: bold;
}
.blog_Description
{
font-family: arial, sans-serif; font-size: 12px; color: #000000;
}
.ajax__tab_xp .ajax__tab_tab {
    height: auto;
}

/* ajax__tab_xp-theme theme */
.ajax__tab_xp-theme .ajax__tab_header 
{
    font-family:verdana,tahoma,helvetica;
    font-size:11px;
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-line.gif) repeat-x bottom;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_outer 
{
    padding-right:4px;
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-right.gif) no-repeat right;
    height:21px;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_inner 
{
    padding-left:3px;
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_tab
{
    height:13px;
    padding:4px;
    margin:0;
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_outer 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-hover-right.gif) no-repeat right;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_inner 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-hover-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_tab 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-hover.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_outer 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-active-right.gif) no-repeat right;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_inner 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-active-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_tab 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/xp/tab-active.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    border:1px solid #999999;
    border-top:0;
    padding:8px;
    background-color:#ffffff;
}

/* ajax__tab_yuitabview-theme theme (../../DesktopModules/CRT_My_Account/Images/Tabs/yui/sprite.png) */
.ajax__tab_yuitabview-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 5px #2647a0;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/yui/sprite.png) #d8d8d8 repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(../../DesktopModules/CRT_My_Account/Images/Tabs/yui/sprite.png) #bfdaff repeat-x left -1300px;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/yui/sprite.png) #2647a0 repeat-x left -1400px;
}
.ajax__tab_yuitabview-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#edf5ff;    
    border:solid 1px #808080;
    border-top-width:0px;
}

/* ajax__tab_technorati-theme theme */
.ajax__tab_technorati-theme .ajax__tab_header 
{
    font-family:"Helvetica Neue", Arial, Sans-Serif;
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.ajax__tab_technorati-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab.png) no-repeat left top;
    border-color:#222;
    color:#222;
    padding-left:10px;
    margin-right:3px;
}
.ajax__tab_technorati-theme .ajax__tab_header .ajax__tab_inner 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab.png) no-repeat right top;
    border-color:#666;
    color:#666;
    padding:3px 10px 2px 0px;
}
.ajax__tab_technorati-theme .ajax__tab_hover .ajax__tab_inner 
{
    color:#000000;
}
.ajax__tab_technorati-theme .ajax__tab_active .ajax__tab_outer 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab.png) no-repeat 0pt -40px;
    border-bottom-color:#ffffff;
}
.ajax__tab_technorati-theme .ajax__tab_active .ajax__tab_inner 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab.png) no-repeat right -40px;
    color:#000000;
    border-color:#333
}
.ajax__tab_technorati-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:8px;
    background-color:#ffffff;
    border:solid 1px #d7d7d7;
    border-top-width:0;
}

/* ajax__tab_msngallery-theme theme */
.ajax__tab_msngallery-theme .ajax__tab_header 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/msngallery/tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_outer 
{
    border:solid 1px #D7DCE1;
    padding:1px 1px 0px 1px;
    border-bottom:solid 2px #A8D4D9;
    background-color:#edf2fb;
}
.ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab 
{
    padding:6px 10px 6px 10px;
    color:#444444;
    width:117px;
    display:block;
    text-align:center;    
}
.ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab img
{
    height:24px;
    width:24px;
}
.ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab div
{
    font-family:Verdana, Arial, Sans-Serif;
    font-weight:bold;
    white-space:nowrap;
    line-height:145%;
    font-size:92%;
}
.ajax__tab_msngallery-theme .ajax__tab_active .ajax__tab_outer 
{
    padding:0px 0px 0px 0px;
    border:solid 2px #A8D4D9;
    border-bottom-color:#ffffff;
    background-color:#ffffff;
}
.ajax__tab_msngallery-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:8px;
    background-color:#ffffff;
    border:solid 2px #A8D4D9;
    border-top-width:0;
}

/* ajax__tab_ie-theme theme */
.ajax__tab_ie-theme .ajax__tab_header 
{
    padding-left:5px;
}
.ajax__tab_ie-theme .ajax__tab_header .ajax__tab_tab
{
    margin-right:0px;
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/ie/tab_unselected.gif);
    width:116px;
    padding:9px 0px 3px 0px;
    text-align:center;    
    color:#006699;
    font-family:verdana;
    font-size:13px;
    display:block;
}
.ajax__tab_ie-theme .ajax__tab_active .ajax__tab_tab 
{
    padding:6px 0px 3px 0px;
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/ie/tab_selected.gif);
}
.ajax__tab_ie-theme .ajax__tab_body 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/ie/ie_tabbacker_720x296.jpg) no-repeat;
    font-size:13px;
    font-family:verdana;
    height:296px;
    width:716px;
}
.ajax__tab_ie-theme .ajax__tab_body div
{
     padding:8px;
}
.hr_line
{
   color: #fff;
   background-color: transparent;
   border: 1px dotted #999999;
   border-style: none none dotted;
margin-bottom: 15px;
}
.Campground-Name
{
  font-size: 32px;
  color: #0173BC;
  font-weight: lighter;
}
.quick-nav-tag
{
   border: 1px dotted #E6E6E6;
   border-style: dotted dotted dotted dotted;
   background-color: none;
   padding: 4px;
}
a.quick-nav-tag
{
   color: #555;
   font-weight: normal;
}
a.quick-nav-tag:hover
{
   color: #555;
   color: #FFFFFF;
   background-color: #A7A7A7;
   font-weight: normal;
}
.rounded{display:block}
.rounded *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#E6E6E6}
.rounded1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #f4f4f4;
  border-right:1px solid #f4f4f4;
  background:#ececec}
.rounded2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fcfcfc;
  border-right:1px solid #fcfcfc;
  background:#eaeaea}
.rounded3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #eaeaea;
  border-right:1px solid #eaeaea;}
.rounded4{
  border-left:1px solid #f4f4f4;
  border-right:1px solid #f4f4f4}
.rounded5{
  border-left:1px solid #ececec;
  border-right:1px solid #ececec}
.roundedfg{
  background:#E6E6E6}

h2.homepage_title
{
	font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
	font-size: 24px;
	font-weight: normal;
	/* color: #555; */
	color: #EE7D21;
	margin-bottom: 1px;
	text-align: left;
}

h3.homepage_title_desc
{
	font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #555;
	margin-top: 0px;
}

img.home_page_whats_new_main
{
	width: 200px;
	height: 200px;
	border: none;
}

img.home_page_whats_new_thumbnail
{
	width: 75px;
	height: 75px;
	border: none;
}

  
/* ajax__tab_technorati-theme-blue theme */
.ajax__tab_technorati-theme-blue .ajax__tab_header 
{
    font-family:"Helvetica Neue", Arial, Sans-Serif;
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.ajax__tab_technorati-theme-blue .ajax__tab_header .ajax__tab_outer 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab-blue.png) no-repeat left top;
    border-color:#222;
    color:#222;
    padding-left:10px;
    margin-right:3px;
}
.ajax__tab_technorati-theme-blue .ajax__tab_header .ajax__tab_inner 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab-blue.png) no-repeat right top;
    border-color:#666;
    color:#666;
    padding:3px 10px 2px 0px;
}
.ajax__tab_technorati-theme-blue .ajax__tab_hover .ajax__tab_inner 
{
    color:#000000;
}
.ajax__tab_technorati-theme-blue .ajax__tab_active .ajax__tab_outer 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab-blue.png) no-repeat 0pt -40px;
    border-bottom-color:#ffffff;
}
.ajax__tab_technorati-theme-blue .ajax__tab_active .ajax__tab_inner 
{
    background:url(../../DesktopModules/CRT_My_Account/Images/Tabs/technorati/tab-blue.png) no-repeat right -40px;
    color:#000000;
    border-color:#333
}
.ajax__tab_technorati-theme-blue .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:8px;
    background-color:#EDF1F4;
    border:solid 1px #d7d7d7;
    border-top-width:0;
}

.tooltip,.tooltip *{display:block;color: #333333;}

.tooltip { 
    width: 213px;
    font:11px Arial,sans-serif;
    padding: 4px;
    text-decoration:none;text-align:left;
}

.tooltip span.top{padding: 40px 20px 0;
    background: url(../../DesktopModules/CRT_Components/bubble.gif) no-repeat top}

.tooltip b.bottom{padding:3px 8px 15px;
    background: url(../../DesktopModules/CRT_Components/bubble.gif) no-repeat bottom}

.band_bar
{
	border-top-width: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #D9E3EC;
	font-family: arial, verdana, tahoma, helvetica;
	font-size: 13px;
	padding: 8px;
	background-color: #D9E3EC;
	font-weight: bold;
	color: #000000;
	vertical-align: middle;
}

.band_bar a:link, .band_bar a:visited, .band_bar a:focus,
.band_bar a:hover, .band_bar a:active
{
	font-size: 14px;
	font-family: "arial", sans-serif;
	font-weight: bold;
	color: #0173BC;
}

.AddPadding 
{
	padding: 12px;
}

.normal_text
{
    font-family: "arial", sans-serif;
    font-size: 12px;
	font-weight: normal;
    color: #000000;
}

.main_title
{
    font-family: "arial", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.title_text
{
    font-family: "arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.title_caps_text
{
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.large_text
{
    font-family: "arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

a.large_text:link,
a.large_text:visited,
a.large_text:focus,
a.large_text:hover,
a.large_text:active
{
    font-size: 16px;
}

table.margin_top
{
	margin-top: 15px;
}

table.normal
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}

table.normal td
{
	padding: 0px;
	text-align: left;
	vertical-align: top;
        font-family: "arial", sans-serif;
	font-size: 12px;
        color: #000000;
}

table.normal td.bookmark
{
	vertical-align: bottom;
}


table.normal_padding
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}

table.normal_padding td
{
	padding: 10px;
	text-align: left;
	vertical-align: top;
        font-family: "arial", sans-serif;
	font-size: 12px;
        color: #000000;
}

table.normal_padding td a:link, table.normal_padding td a:visited, table.normal_padding td a:focus,
table.normal_padding td a:hover, table.normal_padding td a:active
{
	font-size: 12px;
}

table.normal_padding td.large_text
{
	font-size: 16px;
}


table.normal_padding td img.gray_border
{
	border: 1px solid #A5A5A3;
	margin: 0px;
}

table.normal_padding td p.title_text
{
	margin-top: 0px;
}

table.normal_padding td p.normal_text
{
	margin-top: 0px;
}

.list {
border: 1px solid #d7d7d7;
list-style-type: none;
margin: 0px;
padding: 4px;
line-height: 20px;
}

.benefits_normal_text
{
    font-family: "arial", sans-serif;
    font-size: 14px;
	font-weight: normal;
    color: #000000;
	margin-top: 0px;
	margin-bottom: 25px;
}

.benefits_normal_text a:link, .benefits_normal_text a:visited, .benefits_normal_text a:focus,
.benefits_normal_text a:hover, .benefits_normal_text a:active
{
	font-size: 14px;
	font-family: "arial", sans-serif;
	font-weight: bold;
}

.benefits_title_text
{
    font-family: "arial", sans-serif;
    font-size: 16px;
	font-weight: bold;
    color: #000000;
	margin-top: 0px;
	margin-bottom: 10px;
}

table.routemap
{
	border-bottom: 1px dotted rgb(153,153,153);
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 15px;
}

table.routemap td
{
	padding: 0px 0px 15px 0px;
	text-align: center;
	vertical-align: top;
}

#routemap_title 
{
    font-family: "myriad pro", "arial";
    font-size: 14px;
    font-weight: bold;
    color: #0173BC;
    padding-top: 6px;
    text-align: left;
}

#routemap_activestep 
{
    font-family: "myriad pro", "arial";
    font-size: 12px;
    font-weight: bold;
    color: #0173BC;
}

.routemap_inactivestep 
{
    font-family: "myriad pro", "arial";
    font-size: 12px;
    font-weight: bold;
    color: #d7d7d7;
}

img.routemap
{
	width: 26px;
	height: 26px;
	margin-bottom: 5px;
}	

.site_map_title_text
{
    font-family: "arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
	margin: 0.5em 0px 0px 0px; 
}

td.site_map
{
	padding: 10px;
	margin: 0px;
	vertical-align: top;
	width: 33%;
}

ul.site_map
{
	list-style-image: url(https://www.campingroadtrip.com/Portals/0/SiteMap/carat_linklist.gif);
	margin: 0.5em 0px 0.5em 0px;
	padding: 0px 0px 0px 13px;
	_padding: 0px 0px 0px 17px;
}

li.site_map
{
	margin: 0.5em 0px 0px 0px;
}

img.article
{
	margin-left: 1em;
	margin-bottom: 1em;
	border: 1px solid black;
	float: right;
}

.list_head
{
	font-weight: bold;
}

.highlight_text
{
	font-weight: bold;
}

.product_title
{
	font-style: italic;
}

ol.list_no_indent
{
	margin-left: 0px;
	padding: 0px 0px 0px 18px;
	_padding: 0px 0px 0px 22px;
}

ul.list_no_indent
{
	margin-left: 0px;
	padding: 0px 0px 0px 16px;
	_padding: 0px 0px 0px 20px;
}

table.tick_list
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}

table.tick_list td
{
	padding: 5px;
	vertical-align: top;
	text-align: left;
	font-family: "arial", sans-serif;
        font-size: 14px;
	font-weight: normal;
        color: #000000;
}

.tick_list td img
{
	width: 16px;
	height: 16px;
}	

p.normal_text a:link, p.normal_text a:visited, p.normal_text a:focus,
li a:link, li a:visited, li a:focus,
table.tick_list td a:link, table.tick_list td a:visited, table.tick_list td a:focus
{
	font-size: 12px;
}

p.normal_text a:hover, p.normal_text a:active,
li a:hover, li a:active,
table.tick_list td a:hover, table.tick_list td a:active
{
	font-size: 12px;
}

.title_text a:link, .title_text a:visited, .title_text a:focus
{
	font-size: 16px;
}

.title_text a:hover, .title_text a:active
{
	font-size: 16px;
}

p.large_text a:link, p.large_text a:visited, p.large_text a:focus,
td.large_text a:link, td.large_text a:visited, td.large_text a:focus   
{
	font-size: 16px;
}

p.large_text a:hover, p.large_text a:active,
td.large_text a:hover, td.large_text a:active
{
	font-size: 16px;
}

#footer
{
	color: #ffffff;
	text-align: center;
}

#footer a
{
	color: #ffffff;
}

.moveUpForFirefox
{
margin-top: -20px;
#margin-top: 0px;
}


img.whats_new
{
	margin-right: 1em;
	margin-bottom: 1em;
	width: 221px; 
	height: 255px;
}

.tips_articles_author
{
	font-family: "arial", sans-serif;
	font-size: 11px;
	color: #000000;
	margin: 0;
	padding: 0px 0px 5px 0px;
}

.article_author
{
	font-family: "arial", sans-serif;
	font-size: 11px;
	color: #000000;
	margin: 0;
	padding: 0;
}

p.article_author
{
	font-family: "arial", sans-serif;
	font-size: 11px;
	color: #000000;
	margin: 0;
	padding-bottom: 5px;
}


.article_date
{
	font-family: "arial", sans-serif;
	font-size: 11px;
	color: #555555;
	padding: 0;
	margin: 0;
}

h1.article_title
{
	font-family: Arial, Georgia, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 3px;
	margin-top: 0px;
	line-height: 24px;
}

img.top
{
	margin: 0px;
	border: 1px solid black;
}

img.spotlight
{
	margin: 0px;
	border: 1px solid black;
}

img.inline_caption_gray
{
	margin: 0px;
	border: 1px solid #A5A5A3;
}

img.inline_caption_black
{
	margin: 0px;
	border: 1px solid #000000;
}

div.image_caption
{
	font-family: "arial", sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #555;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

div.sponsor_caption
{
	font-family: "arial", sans-serif;
	font-size: 10px;
	color: #555;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

table.newsletter
{
	border: none;
	border-collapse: collapse;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table.newsletter td
{
	padding: 0px;
	vertical-align: top;
	text-align: left;
}

table.newsletter td.other_editions
{
	width: 220px;
	padding-left: 30px;
}

p.other_editions
{
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #555555;
}

p.current_edition
{
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #555555;
}

table.email
{
	border: none;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 600px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

table.email td
{
	text-align: left;
	vertical-align: top;
	font-family: "arial", sans-serif;
	font-size: 12px;
	color: #000000;
}

table.email td.banner
{
	padding: 0px;
}

table.email td.content
{
	width: 600px;
	padding: 15px;
}

table.email td.content_bottom
{
	width: 600px;
	padding: 0px 10px 15px 10px;
	text-align: center;
	vertical-align: top;
}

table.email td.content_bottom img
{
	width: 101px;
	height: 101px;
	margin: 0px 5px 0px 5px;
	padding: 0px;
}


table.email td.logo
{
	border-top: 1px solid blue;
	text-align: center;
	padding: 15px;
}

table.email td.logo img
{
	width: 188px;
	height: 84px;
	margin: 0px;
	padding: 0px;
	border: none;
}

table.top_five_list
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}

table.top_five_list td
{
	padding: 5px;
	vertical-align: top;
	text-align: left;
	font-family: "arial", sans-serif;
    font-size: 12px;
	font-weight: normal;
    color: #000000;
}

p.header_footer
{
	font-size: 9px;
	font-family: "arial", sans-serif;
	font-weight: normal;
	text-align: center;
	padding: 0px;
	color: #555;
	margin: 5px;
}

p.header_footer a:link, p.header_footer a:visited, p.header_footer a:focus,
p.header_footer a:hover, p.header_footer a:active
{
	font-size: 9px;
	font-family: "arial", sans-serif;
	font-weight: bold;
	color: #0173BC;
}

table.email td.content_lhs
{
	width: 469px;
	padding: 15px 0px 15px 15px;
}

table.email td.content_rhs
{
	width: 131px;
	padding: 15px 0px; 15px 0px;
	text-align: center;
}

table.email td.content_rhs img
{
	width: 101px;
	height: 101px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}

table.email td.content_two_thirds
{
	width: 400px;
	padding: 15px 15px 15px 15px;
}

table.email td.content_one_third
{
	width: 200px;
	padding: 15px 0px; 15px 0px;
}


p.email_header
{
	font-size: 24px;
	font-family: "arial", sans-serif;
	font-weight: normal;
	color: #FF922E;
	text-align: center;
}

table.compare_competition
{
	border: none;
	border-collapse: collapse;
	width: 550px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table.compare_competition tr
{
	background-color: #E0E7EC;
}

table.compare_competition tr.headerrow
{
	background-color: #0072BB;
	font-weight: bold;
	color: #FFFFFF;
}

table.compare_competition td
{
	border: 2px solid #FFFFFF;
	width: 100px;
        padding: 5px;
}

table.compare_competition td.headercolumn
{
	font-weight: bold;
	width: 200px;
	text-align: left;
}

table.compare_competition td.campingroadtrip
{
	/* background-color: #FF922E; */
	background-color: #FAE0C4;
	color: #000000;
font-weight: bold;
}

table.normal td.more_tips_and_articles
{
	text-align: right;
	width: 200px;
	padding-left: 20px;
}

table.normal td.more_tips_and_articles a:link,
table.normal td.more_tips_and_articles a:visited,
table.normal td.more_tips_and_articles a:focus
{
	font-size: 14px;
}

table.normal td.more_tips_and_articles a:hover,
table.normal td.more_tips_and_articles a:active
{
	font-size: 14px;
}

p.more_tips_and_articles
{
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

p.more_tips_and_articles a:link,
p.more_tips_and_articles a:visited,
p.more_tips_and_articles a:focus
{
	font-size: 14px;
}

p.more_tips_and_articles a:hover,
p.more_tips_and_articles a:active
{
	font-size: 14px;
}

p.more_outdoor_living_newsletter
{
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

p.more_outdoor_living_newsletter a:link,
p.more_outdoor_living_newsletter a:visited,
p.more_outdoor_living_newsletter a:focus
{
	font-size: 14px;
}

p.more_outdoor_living_newsletter a:hover,
p.more_outdoor_living_newsletter a:active
{
	font-size: 14px;
}

table.normal td.more_outdoor_living_newsletter
{
	text-align: right;
	width: 300px;
	padding-left: 20px;
}

table.normal td.more_outdoor_living_newsletter a:link,
table.normal td.more_outdoor_living_newsletter a:visited,
table.normal td.more_outdoor_living_newsletter a:focus
{
	font-size: 14px;
}

table.normal td.more_outdoor_living_newsletter a:hover,
table.normal td.more_outdoor_living_newsletter a:active
{
	font-size: 14px;
}

table.normal td.more_outdoor_living_newsletter img
{
	border: none;
}

p.related_articles_title
{
border:none;
font-family: arial, verdana, tahoma, helvetica;
font-size: 16px;
padding: 8px 0px 8px 8px;
background-color: #D9E3EC;
font-weight: bold;
color: #000000;
vertical-align: middle;
width: 542px;
margin-bottom: 20px;
}

p.related_articles
{
width: 550px;
height: 75px;
margin-bottom: 20px;
}

p.related_articles img
{
float: left;
width: 75px;
height: 75px;
margin-right: 10px;
/* border: none; */
border: 1px solid #A5A5A3;
}

p.related_articles a:link, p.related_articles a:visited, p.related_articles a:focus,
p.related_articles a:hover, p.related_articles a:active
{
font-size: 16px;
}

td.full_banner_article_col p.related_articles_title
{
width: 90%;
margin-top: 0px;
}

td.full_banner_article_col p.related_articles
{
width: 90%;
height: 75px;
margin-bottom: 20px;
}

td.banner_article_col p.related_articles_title
{
margin-top: 0px;
}

td.banner_article_col p.related_articles
{
height: 75px;
margin-bottom: 20px;
}

td.full_banner
{
width: 468px;
}

td.full_banner div.sponsor_caption
{
width: 468px;
}

td.banner_article_col
{
width: 550px;
}

td.banner
{
width: 50%;
text-align: center;
}

td.banner div
{
text-align: center;
margin-left: auto;
margin-right: auto;
}

td.banner div.sponsor_caption
{
width: 100%;
}


table.email td.outdoor_living_col1
{
	width: 378px; 
	padding: 0px 10px 20px 20px;
	text-align: left;
	vertical-align: top;
} 

table.email td.outdoor_living_col2
{
	width: 5px; 
	padding: 0px; 
	border-right: 1px dotted #999999;
}

table.email td.outdoor_living_col3
{
	width: 6px;
	padding: 0px;
}

table.email td.outdoor_living_col4
{
	width: 150px;
	padding: 0px 20px 10px 10px;
	text-align: left;
	vertical-align: top;
}

table.normal td.outdoor_living_header
{
	width: 60%;
	padding: 0px;
	text-align: left;
	vertical-align: top;
    font-family: "arial", sans-serif;
	font-size: 16px;
    font-weight: bold;
	color: #EE7D21;
}

table.normal td.email_to_friend
{
	width: 40%;
	padding: 0px;
	text-align: right;
	vertical-align: top;
    font-family: "arial", sans-serif;
	font-size: 12px;
}

img.small_square_image
{
	width: 16px;
	height: 16px;
	border: none;
}

p.outdoorliving_section_header
{
	background-color: #EAF3F8;
	padding: 10px;
	margin: 0px 0px 15px 0px;
	font-family: "arial", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #EE7D21;
}

p.outdoorliving_section_header a:hover
{
	font-family: "arial", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #EE7D21;
}

img.outdoorliving
{
	border: 1px solid #A5A5A3;
	margin: 0px 10px 10px 0px;
	width: 150px;
	height: 100px;
	float: left;
}

.sponsored_link_section_title
{
	margin-top: 12px;
	margin-bottom: 8px;
	font-family: "arial", sans-serif;
	font-size: 14px;
	font-weight: bold;
	/* color: #0066CC; */
	color: #EE7D21;
	text-align: center;
}

a.hidden_orange_link:link,
a.hidden_orange_link:visited,
a.hidden_orange_link:focus,
a.hidden_orange_link:hover,
a.hidden_orange_link:active
{
font-family: arial, sans-serif;
text-decoration: none;
color: #ee7d21;
}

a.hidden_link:link,
a.hidden_link:visited,
a.hidden_link:focus,
a.hidden_link:hover,
a.hidden_link:active
{
font-family: arial, sans-serif;
text-decoration: none;
}

ul.rewards_for_reviews
{
margin-top: 5px;
line-height: 1em;
}

ul.rewards_for_reviews li
{
font-family: "arial", sans-serif;
font-size: 12px;
}

table.left_inline_image
{
	border: none;
	border-collapse: collapse;
	float: left;
}

table.right_inline_image
{
	border: none;
	border-collapse: collapse;
	float: right;
}

table.left_inline_image td
{
	padding: 0px 10px 0px 0px;
}

table.right_inline_image td
{
	padding: 0px 0px 0px 10px;
}

p#article_first_paragraph
{
	font-weight: bold;
	margin-top: 0px;
}

div.dotted_horizontal_line
{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #aaaaaa;
	line-height: 15px;
	margin-bottom: 15px;
}

p.bookmark
{
	margin-top: 0px;
	margin-bottom: 0px;
}


.highlight_text_i
{
	font-style: italic;
}

.highlight_text_bi
{
	font-weight: bold;
	font-style: italic;
}

.highlight_text_bu
{
	font-weight: bold;
	text-decoration: underline;
}

.factual ul {
        padding-left: 15px;
        margin-left: 15px;
}

.factual li {
	list-style-type: none;
}

.factual_style_disc li {
	list-style-type: disc;
}

.recipe {
	margin: 25px 0px 25px 0px;
}

.recipe_title {
        font-family: "arial", sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding-left: 22px;
        #padding-left: 18px;
        color: #000000;
}

.recipe_sub-title {
        font-family: "arial", sans-serif;
        font-size: 13px;
        font-style: italic;
        padding-left: 22px;
        #padding-left: 18px;
        color: #000000;
}

.recipe_subtitle {
        font-family: "arial", sans-serif;
        font-size: 13px;
        font-style: italic;
        padding-left: 22px;
        #padding-left: 18px;
        color: #000000;
}

.recipe_text {
        padding-left: 22px;
        #padding-left: 18px;
}

.recipe table {
        border: 0;
        border-collapse: collapse;
}

.recipe table td {
        width: 350px;
	vertical-align: top;
	padding-left: 0px;
}

.recipe ul {
        margin-top: 0px;
        margin-bottom: 0px;
}

.recipe ol li {
        margin: 0px 0px 5px 0px;
        list-style-type: none;
}

.recipe ul li {
        margin: 0px 0px 5px 0px;
        list-style-type: none;
}

.recipe2 {
	margin: 0px;
}

.recipe2 table td.table_cll1 {
       width: 300px;
	vertical-align: top;
}

.recipe2 table td.table_cll2 {
       width: 377px;
       padding-left: 10px;
}

.recipe2 li {
        padding-bottom: 0.1px;
}

.recipe_media_left {
	margin: 0px 0px 25px 0px;
}

.recipe_media_left table td {
        width: 300px;
	vertical-align: top;
}

.recipe_media_left li {
        margin: 0px 0px 1px 0px;
	list-style-type: none;
}

h1.helpful_links
{
        font-size: 32px;
        color: #0173BC;
        font-weight: lighter;
        font-family: arial, sans-serif;
}

table.helpful_links
{
	border: none;
	border-collapse: collapse;
	width 100%;
}

table.helpful_links td
{
        padding: 5px;
        vertical-align: top;
}

table.helpful_links tr.alternate_row
{
        background-color: #E0E7EC;
}

p.helpful_links_headers
{
        border: 1px solid #bbe0e3; 
        padding: 8px;
        background-color: white;
        font-size: 18px;
        color: #000000;
        font-weight: bold;
        font-family: arial, sans-serif;
}

.list_style_none ul
{
	margin-left: 15px;
}

.list_style_none li
{
	list-style-type: none;
}

p.reference_font_size
{
        font-size: 9px;
 font-family: arial, sans-serif;
font-weight: normal;
    color: #000000;

}

.media_container {
         margin: 10px 0px;
}

.media_left {
        float: left;
        margin-right: 20px;
}

.media_center_560 {
        margin: 0px 180px;
}

.content_media_left_240 {
        height: 240px;
	margin: 0px 0px 25px 0px;
}

.content_media_left_315 {
        height: 315px;
	margin: 0px 0px 25px 0px;
}

.list_lower_roman li {
        list-style-type: lower-roman;
}

.list_lower_roman ul li {
        list-style-type: disc;
}

.interview_question
{
    font-family: "arial", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

.article_indent
{
    margin-left: 25px;
}

.article_published {
	display: block;
	text-align: center;
	float:left; 
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 2px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	background: url(../../DesktopModules/Blog/images/clip-bottom.png) right top no-repeat;
	width:2.5em;
	margin-right: 5px;
}

.article_month {
	display:block;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	margin:0; 
	padding:0;
	padding-top:1px;
	background:url(../../DesktopModules/Blog/images/clip-top.png) center top repeat-x;
	text-transform:uppercase;
}

.article_day { 
	display:block; 
	font-size:12px;
	margin:0; 
	padding:0;
}

.article_subhead
{
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 8px;
	padding-left: 42px;
	position: relative;
}


.past_newsletter
{
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    line-height: 1.2em;
}

.past_newsletter a:link, .past_newsletter a:visited, .past_newsletter a:focus
{
	font-size: 14px;
}

.past_newsletter a:hover, .past_newsletter_link a:active
{
	font-size: 14px;
}

.newsletter_indent
{
    margin-left: 25px;
}

.newsletter_archive ul
{
	margin-top: -10px;
	margin-bottom: 25px;
}

.newsletter_archive li
{
        width: 200px;
	margin-left: -20px;
        margin-bottom: -4px;
	list-style-image: url(http://test.campingroadtrip.com/Portals/0/SiteMap/carat_linklist.gif);
}

.subtitle_text
{
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.subtitle_text a:link, .subtitle_text a:visited, .subtitle_text a:focus
{
	font-size: 14px;
}

.subtitle_text a:hover, .subtitle_text a:active
{
	font-size: 14px;
}

.curlyQuotes {
    padding: 10px;
    background-image: url(../../Portals/0/Curly-Quotes.png);
    background-repeat: no-repeat;
}


.quote_text
{
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    color: #000000;
}


.large_quote
{
    font-family: "arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    color: #000000;
}

.large_quote a:link, .large_quote a:visited, .large_quote a:focus,
.large_quote a:hover, .large_quote a:active
{
    font-family: "arial", sans-serif;
    font-size: 16px;
}

h2.benefits_module_title
{
    font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #EE7D21;
    margin-bottom: 15px;
    text-align: left;
}

h3.benefits_module_subtitle
{
    font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #0272bc;
    margin-bottom: 15px;
    text-align: left;
}


img.no_border_right_align
{
	margin-left: 1em;
	margin-bottom: 1em;
	border: none;
	float: right;
}


h1.product_title
{
    font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    color: #EE7D21;
    margin-bottom: 15px;
    text-align: left;
}

h2.product_subtitle
{
    font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #EE7D21;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

#screenshots
{
	width: 6900px;
}

#screenshots img
{;
	float: left;
	margin-right: 20px;
}

#screenshots_container
{
	width: 600px;
	overflow-y: hidden!important;
	overflow-x: scroll !important;
}

.extra_margin_section_bottom
{
	margin-bottom: 25px;
}

.product_description_title
{
    font-family: "arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

img.top_ten_right
{
	margin-top: 1em;
	margin-left: 15px;
	border: 1px solid black;
}

img.top_ten_left
{
	margin-top: 1em;
	margin-right: 15px;
	border: 1px solid black;
}

td.featured_spotlight_left_col
{
	width: 600px;
}

td.featured_spotlight_middle_col
{
	width: 20px;
}

td.featured_spotlight_right_col
{
	width: 300px;
}

.section_bottom
{
	margin-bottom: 25px;
}

h2.state_most_popular_campgrounds
{
	font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #EE7D21;
	margin-bottom: 1px;
	text-align: left;
}

span.state_attraction a:link, span.state_attraction a:visited, span.state_attraction a:focus,
span.state_attraction a:hover, span.state_attraction a:active
{
	font-size: 13px;
}

.information_text
{
	font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000;
}

.sub_subtitle_text
{
	font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

p.sub_subtitle_text a:link, p.sub_subtitle_text a:visited, p.sub_subtitle_text a:focus
{
	font-size: 14px;
}

p.sub_subtitle_text a:hover, p.sub_subtitle_text a:active
{
	font-size: 14px;
}

table.photos_courtesy
{
	width: 100%;
	margin-top: 25px;
}

table.photos_courtesy td
{
	font-family: Arial, Georgia, "Times New Roman" , Times, sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #000;
}



